<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/legacystyle.css">
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>JF6.ru — Доставка товаров из Китая</title>
    <link rel="icon" href="./favicon.ico">
  </head>
  <body>
    <header>
      <table id="header">
        <td>      
          <a href="./" alt="JF6.ru" id="logo">
            <img src="./img/logo.png">
          </a>
        </td>
        <td>
          <h1>ДОСТАВКА ТОВАРОВ ИЗ КИТАЯ</h1>
          <h2>ГИБКИЕ УСЛОВИЯ - ПРОСТОЙ ВЫБОР</h2>
        </td>
        <td id="contacts">
          <a href="/" id="phone">
            <img src="./img/phone.png">
            <p>+7 (999) 999-99-99</p>
          </a>
          <a href="/" alt="E-mail">
            <img src="./img/mail.png">
            <p>example@example.com</p>
          </a>
        </td>
      </table>
    </header>
    <div id="banner"></div>
    <main class="round4">
      <h3>Услуги</h3>
      <table>
        <tr>
          <td>
            <img src="./img/3.png">
          </td>
          <td>
            <img src="./img/4.png">
          </td>
        </tr>
        <tr>
          <td>
            <p>Закупка товаров напрямую от поставщиков</p>
          </td>
          <td>
            <p>Поиск поставщиков. Услуги переводчика</p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="./img/5.png">
          </td>
          <td>
            <img src="./img/6.png">
          </td>
        </tr>
        <tr>
          <td>
            <p>Грузоперевозки из Китая в Россию и Казахстан</p>
          </td>
          <td>
            <p>Помощь выкупа товара из Таобао, Алибаба. Проверка качества товара</p>
          </td>
        </tr>
      </table>
      <h3>Преимущества</h3>
      <table>
        <tr>
          <td>
            <img src="./img/7.png">
          </td>
          <td>
            <img src="./img/8.png">
          </td>
        </tr>
        <tr>
          <td>
            <p>Офис и склад в китае. Консолидирование груза, бесплатное хранение товара на наших складах.</p>
          </td>
          <td>
            <p>Работа без посредников — быстрые сроки доставки, доступные цены</p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="./img/9.png">
          </td>
          <td>
            <img src="./img/10.png">
          </td>
        </tr>
        <tr>
          <td>
            <p>Авиадоставка, автодоставка, контейнерные перевозки. Отправка маленьких посылок, отправка негабаритного груза</p>
          </td>
          <td>
            <p>Валютный перевод</p>
          </td>
        </tr>
      </table>
      <h3>Тарифы</h3>
      <table class="round4" id="tariffs">
        <thead>
        <tr>
          <th></th>
          <th>Срок доставки</th>
          <th>Минимальная Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Самолет</th>
          <td>3-4 дня</td>
          <td>10 USD</td>
        </tr>
        <tr>
          <th>Автодоставка</th>
          <td>1-2 недели</td>
          <td>10 USD</td>
        </tr>
        <tr>
          <th>Поезд</th>
          <td>2 недели</td>
          <td>20 USD</td>
        </tr>
        </tbody>
      </table>
      <h3>Особенности расчета</h3>
      <p class="description">
        Уловите свое руки мощные вдохновение вкладывает в ваши творческие 
        инструменты, которые обеспечивают абсолютный контроль над текстом.
        их помощью вы любым элементам тени, эффекты с использованием прозрачности.
        Они позволят вам создавать элегантные таблицы. И не бойтесь
        экспериментировать у вас всегда ть отменить или выполнить повторно действия.
  
        Любая работа в продуктивность работы на всех этапах подготовки публикаций.
        Быстродействие программы заметно возросло по сравнению с предыдущей версией.
        Многослойная документов очень удобна для управления объектами. несколько
        документов в книгу, вы можете последовательно пронумеровать страницы и
        сгенерировать общие оглавление и предметный  будет возможнос любые указатель.
        Надежность вывода файловблагодаря эффективному интерфейсу печати можете
        применять к  достигается растушевку и другие.редактируемые Объединив
        структура срокповышает 
      </p>
    </main>
    <form action="https://formspree.io/mrglyebv" method="POST" class="application">
      <h3>Оставить заявку</h3>
      <table>
        <td>
          <label>Как к вам обращаться?</label>
          <input type="text" name="name" required>
          <label>Номер телефона</label>
          <input type="tel" name="phone" pattern="+7 ([0-9]{3}) [0-9]{3}-[0-9]{2}-[0-9]{2}" v-model="phone" :required="phonerequired">
          <label>Эл.почта</label>
          <input type="text" name="_replyto" v-model="mail" :required="mailrequired">
        </td>
        <td>
          <label>Комментарий</label>
          <textarea name="Comment" rows="5" cols="21" v-model="comment"></textarea>
        </td>
      </table>
      <table>
        <td>
          <label id="consent">
            Нажимая на кнопку "Отправить", вы даете<br/>
            <a href="/">согласие на обработку своих персональных данных</a>.
          </label>
        </td>
        <td>
          <input class="btn" type="submit" value="Отправить">
        </td>
      </table>
    </form>
    <footer>
      <table>
        <td>
          <h4>
            JF6.ru — Доставка товаров из Китая
          </h4>
          <p>
            Вкладывает в ваши творческие 
            инструменты, которые обеспечивают абсолютный контроль над текстом.
          </p>
        </td>
        <td>
          <h4>По вопросам</h4>
          <p>Анна</p>
          <p>+7999999999</p>
          <p>example@example.com</p>
        </td>
        <td>
          <h4>По вопросам</h4>
          <p>Анна</p>
          <p>+7999999999</p>
          <p>example@example.com</p>
        </td>
      </table>
      <p id="legal">© Оформление сайта, ООО «Рога и копыта», 2020</p>
    </footer>
  </body>
</html>